.shelves-list {
  display: flex;
  flex-direction: column;
  padding: 15px;

  & > .shelve-item {
    display: inline-flex;
    flex-direction: column;
    border-top: 1px solid #999;
    margin-bottom: 10px;
    padding: 10px 0;

    & > .header {
      height: 1.4em;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 10px;

      & > .title {
        font-size: 1.4em;
      }
    }

    & > .description {
      font-size: 10px;
      font-weight: bold;
    }
  }
}

.books-list {
  display: inline-flex;
  flex-direction: row;
  margin-top: 10px;

  & > .book-item {
    width: 150px;
    height: 200px;
    flex-direction: column;
    border: 1px solid #999;
    margin-right: 5px;
    padding: 5px;
    border-radius: 2px;

    & > .title {
      font-size: 1.2em;
    }

    & > .category {
      font-size: 10px;
      font-weight: bold;
      color: #666;
      border-bottom: 1px solid #666;
      padding: 5px 0;
      margin-bottom: 5px;
    }

    & > .description {
      font-size: 15px;
    }
  }
}
